.projects[data-v-2739d2ea]{display:flex;flex-direction:column;gap:10px}.projects[data-v-2739d2ea]>*{width:100%}.ellipsis-multiline[data-v-2739d2ea]{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
